.tango_balance {
    font-size: 28px;
    text-align: center;
    padding: 0 0 40px;
}
.tango_balance .amount {
    font-size: 89px;
    color: #1890ff;
}
.buttons button + button {
    margin-left: 10px;
}
